@charset "utf-8";

@font-face { 
  font-family:'YunTaemin';
  src:url('../font/Yun.woff') format('woff');
  font-weight:normal;
  font-style:normal; 
}

.hidden {overflow:hidden;border:0;width:1px;height:1px;margin:-1px;clip:rect(1px, 1px, 1px, 1px);clip-path:inset(50%)}

.memo-header {position:relative;padding:10px 0;background-color:#fad749}
.memo-header__title {font-family:'YunTaemin';font-size:40px;text-align:center;line-height:40px;color:#472b06}
.memo-add-button {position:absolute;top:50%;right:14px;width:24px;height:24px;padding:0;border:none;transform:translate(0, -50%);-webkit-transform:translate(0, -50%);font-size:15px;font-weight:bold;text-indent:-999em;cursor:pointer;background-color:transparent}
.memo-add-button::before,
.memo-add-button::after {content:'';position:absolute;width:24px;height:4px;border-radius:3px;background-color:#472b06}
.memo-add-button::before {top:50%;left:50%;-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%)}
.memo-add-button::after {top:10px;left:0;-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}

.memo {padding-left:14px}
.memo__header {position:relative;padding:10px;color:#472b06;background-color:#ffd65c}
.memo__header-info {padding-right:40px}
.memo__action-box {position:absolute;top:50%;right:10px;-webkit-transform:translate(0, -50%)}
.memo__action-box::after {content:'';clear:both;display:table;width:100%;height:0;line-height:0}
.memo__date {margin-bottom:4px;font-size:12px;color:#b29540}
.memo__title {width:100%;border:0;font-size:14px;outline:none;background-color:transparent}
.memo__title::-webkit-input-placeholder {color:#472b06}

.action-button {overflow:hidden;float:left;width:16px;height:16px;margin-left:6px;border:0;cursor:pointer;color:transparent;background:url('/img/memo.png');background-size:450px 282px}
.action-button:first-child {margin-left:0}
.action-button--save,
.action-button--modify {background-position:-21px -231px}
.action-button--delete {width:15px;background-position:-146px -209px}

.memo__list {overflow:hidden}
.memo__item {overflow:hidden;float:left;width:260px;margin:14px 14px 0 0;border:1px solid #ffd65c;border-radius:4px;list-style:none;background-color:#fff}
.memo__item::after {content:'';clear:both;display:table;width:100%;height:0;line-height:0}
.memo__item:first-child {margin-left:0}
.memo__nodata-item {margin-right:14px;padding:100px 0;font-weight:bold;text-align:center}
.memo__contents-wrap {overflow-x:hidden;overflow-y:auto;height:260px}
.memo__contents {height:100%;padding:14px 10px 0 10px;box-sizing:border-box;font-size:14px;color:#333}